 @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
*{
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color:#222;
   width: 100%;
  
  
   display: flex;
   justify-content:space-between;
   align-items: center;
   padding: 15px 100px;
}

nav a{
    text-decoration: none;
    width: 95px;
    color: white;
   font-size: 1.1em;
   font-weight: 500;
   padding-right: 30px;
   
}
nav a:hover{
    opacity: .8;
    color: #99c6ed;
}
.info2 a:hover{
    opacity: .9;
}
section{
    padding: 30px 150px;
    margin-left:auto ;
    margin-right: auto;
}

.main{
    width:100%;
   position: relative;
   text-align: center;
   color: white;
   padding: 110px 150px;
   background-image: url(pic/wallpaperflare.com_wallpaper\ \(37\).jpg) ;
   background-size:cover;
   background-position: center;
   background-attachment: fixed;
}
.main h1{
    font-size: 2.5em;
}
.main p{
    font-size: 1.4em;
   display: block;
   
    
}
h3{
    display: block;
    color: #337ab7;
    font-size: 1.5em;
    padding-bottom: 5px;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(242, 242, 242);
}


.content img{
    width: 280px;
    margin: 15px;
   
}
div{
    display: inline-block;
}
.video{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    padding: 5px 5px 5px 8px;
}
.info2{
    display:flex;
    justify-content: space-between;
}
.info2 a{
    background-color: #337ab7;
    padding: 3px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    font-weight: bold;
}
.info2 span{
    background-color:#778;
    padding: 4px 10px;
    color:white;
    border-radius: 6px;

}

.video .info p{
    margin: 0 0 10px;
    width: 100%;
    font-size: 16px;
}
.break{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: white;
    margin-top: 10px;
    padding: 5px 5px 5px 8px;
    width: 100%;
}
ul{
    list-style: none;
    background-color: white;
    padding-left: 20px;
    margin: 10px 0;
}
li{
    
    width: 100%;
    background-color:#f8f6f6;
    margin: 0px 10px 10px 10px;
    padding: 15px;
  
    width: 100%;
    
    
}
.break2{
    width: 100%;
    background-color: white;
}
.cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    padding:9px;
    background-color: white;
}
.card{

    background-color: white;
    width: 20em;
   text-align: center;
    margin-right: 15px ;
    padding-left: 15px;
    flex: 1;
    border-left: 1px solid #eee;
}
.h21{
    background-color: #337ab7;
   color: white;

}
.h22{
    background-color: #f8f6f6;
    margin-top: 5px;
}
footer{
    background-color: #222;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

footer .social-icon{
 width: 50%;
 padding-top: 10px;
 display: flex;
 align-items: center;
}
footer div a{
    color: white;
}
footer div a:hover{
    color: rgb(133, 133, 133);
}
footer p{
    align-items: center;
    font-size: 1.1em;
}
